<h4>Internal server error</h4>
<br>
<span>Refresh the page</span>

<ng-container *ngIf="error">
  <h5 class="text-danger">Error: {{error.message}}</h5>
  <p class="font-weight-bold">Note: Angular is not at fault </p>
  <p>What to do next?</p>
  <ol>
    <li>Dev tools</li>
    <li>Network tab</li>
    <li>Check failing request</li>
    <li>Examine the request URL</li>
    <li>Reproduce error in postman</li>
  </ol>
  <p>Following is stack trace - investigation starts here</p>
  <code class="mt-5" style="background-color: whitesmoke;">{{error.details}}</code>
</ng-container>